<div ng-controller="customersController">
	<h3>Add a new customer</h3>
	<p>First Name:</p>
	<input type="text" ng-model="newCustomer.fName">
	<p>Last Name:</p>
	<input type="text" ng-model="newCustomer.lName">
	<p>Email:</p>
	<input type="email" ng-model="newCustomer.email">
	<p>Username:</p>
	<input type="text" ng-model="newCustomer.uName">
	<p>Password:</p>
	<input type="password" ng-model="newCustomer.pw">
	<p>Confirm Password:</p>
	<input type="password" ng-model="newCustomer.conf_pw">
	<input type="submit" class="btn btn-success" ng-click="createCustomer()" value="Add">
	<p>{{ err_message.msg }}</p>
	<p>{{db_err.msg}}</p>
	<br>
	<input type="text" name="search_customer" placeholder="filter data" ng-model="filter_name">
	<table class="table table-striped">
		<tr>
			<th>Customer Name</th>
			<th>Recent Order</th>
		</tr>
		<tr ng-repeat="customer in customers | filter: filter_name">
			<td>{{ customer.username }}</td>
		</tr>
	</table>
</div>