.scrollProducts {
	width: 100rem;
	/*background-color: yellow;*/
	overflow-x: auto;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.no_style, .no_style li {
	list-style-type: none;
	text-align: center;
}

.tooltip {
	border-radius: 10px;
	box-shadow: 5px	5px	8px	#CCC;
	line-height: 30px;
}

/*.tooltip:hover {
	text-decoration: none;
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #DCA;
	background: #fffAF0;	
}
*/
