.scrollProducts {
	width: 100rem;
	/*background-color: yellow;*/
	overflow-x: auto;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.no_style, .no_style li {
	list-style-type: none;
	text-align: center;
}

.curved-input {
	border-radius: 5px;
	margin: 2px	3px	2px 3px;
}

.mini-mrg-top {
	margin-top: 3px;
}

.tooltip {
	border-radius: 10px;
	box-shadow: 5px	5px	8px	#CCC;
	line-height: 30px;
}